.navbar {
  background-color: #282c34; /* Dunkelgrauer Hintergrund */
  display: flex; /* Flexbox für Anordnung */
  justify-content: space-between; /* Platz zwischen Elementen */
  align-items: center; /* Vertikale Zentrierung */
  color: white; /* Textfarbe */
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 1rem;
}

.navbar button {
  background-color: #1be35e; /* Helle Hintergrundfarbe für Buttons */
  border: none; /* Ohne Rahmen */
  padding: 0.5rem 1rem; /* Innenabstand */
  cursor: pointer; /* Zeiger bei Hover */
  border-radius: 5px; /* Abgerundete Ecken */
  margin-left: 2rem;
  margin-right: 2rem;
}

.navbar button:hover {
  background-color: #036732; /* Farbänderung bei Hover */
}

.navbar > h1 {
  font-size: 2.5rem;
  margin-left: 2rem;
}

.navbar > span {
  background-color: transparent;
}
